.inner {
    text-align: center;
}

.inner h2 {
    margin-bottom: 6rem;
}

.post-wrap {
    display: flex;
    gap: 24px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.post {
    background-color: #6B5ACD;
    color: #fff;
    padding: 30px 10PX;
    width: 200px;
}

.post h3 {
    font-size: 1.7rem;
    font-weight: 400;
}

.post h4 {
    font-size: 1.3rem;
    margin-top: 3PX;
}

.post h5 {
    font-size: 8px;
    font-weight: 200;
    margin-top: 4PX;
}