footer {
    background-color: #535353;
    text-align: center;
    padding: 2rem 0;
    color: #fff;
}

footer h3 {
    font-size: 2rem;
}

.sns-links {
    display: flex;
    justify-content: center;
}

.sns-links a {
    display: block;
}