header .inner {
    padding:2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid #eee;
} 
header h1 {
    font-size: 3rem;
}
nav a {
    display: inline-block;
    padding:0 2rem;
    font-size: 1.6rem;
    position: relative;
}
nav a.active {
    font-weight: 800;
    color: slateblue;
}
nav a::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: .2rem;
    background-color: slateblue;
    left: 0;
    transform: scaleX(0);
    bottom: -1rem;
    transition: all .3s;
    
}
nav a.active::after {
    transform: scaleX(100%);
}