@import url('https://fonts.googleapis.com/css2?family=Asta+Sans:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #383838
}

ul,
ol {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 7rem;
}

body {
  font-family: "Asta Sans", sans-serif;
}

.inner {
  max-width: 144rem;
  margin: auto;
}

section {
  min-height: 80vh;
}


section .inner {
  padding: 10rem 0
}